<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="news.project.demo.mappers.CatalogMapper">
  <resultMap id="BaseResultMap" type="news.project.demo.models.Catalog">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="brand_id" jdbcType="INTEGER" property="brandId" />
    <result column="created" jdbcType="DATE" property="created" />
  </resultMap>
  <select id="selectAllCatalogs" resultMap="BaseResultMap">
    select * from catalogs
  </select>
</mapper>